p{
  font-family: Roboto, Arial; /*We are setting the font to roboto, if in any case the font doesnt get loaded from google, the backup font will be roboto*/
}

.video-grid{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  column-gap: 12px;
  row-gap: 40px;
}

@media(max-width:750px){
  .video-grid{
    grid-template-columns: 1fr 1fr;
  }
}
@media(min-width:751px) and (max-width:999px){
  .video-grid{
    grid-template-columns: 1fr 1fr 1fr;
  }
}
@media(min-width: 1000px){
  .video-grid{
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}

.thumbnail{
  width: 100%;
}
.thumbnail-row{
  margin-top: 8px;
  position: relative;
}
.video-time{
  background-color: black;
  color: white;
  font-family: roboto, Arial;
  font-size: 12px;
  font-weight: 500;
  border-radius: 2px;
  padding: 4px;
  /*
  padding-left:4px;
  padding-right:4px;
  padding-top:4px;
  padding-bottom:4px;
  */
  position: absolute;
  bottom: 8px;
  right: 5px;
}
.video-info-grid{
  display: grid;
  grid-template-columns: 50px 1fr;
}
.profile-picture{
  width: 36px;
  border-radius: 50px;
}
.video-title, .video-link:active{
  margin-top: 0;
  font-size: 14px;
  font-weight: 500;
  line-height: 20px;
  margin-bottom: 10px;
  cursor: pointer;
}
.video-author, .video-stats, .channel-link:active{
  font-size: 12px;
  color: #606060;
}
.video-author{
  margin-bottom: 6px;;
}